{% extends "base.html" %} {% block content %}

<div class="max-w-md mx-auto bg-white p-6 shadow rounded mt-24">
  <h2 class="text-2xl font-bold mb-4 text-center">Configuración Inicial</h2>

  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form method="post" action="/setup">
    <label>Email administrador</label>
    <input name="email" class="form-control" required />

    <label class="mt-3">Contraseña</label>
    <input type="password" name="password" class="form-control" required />

    <label class="mt-3">PIN (opcional)</label>
    <input type="password" name="pin" class="form-control" />

    <button class="btn btn-success w-full mt-4">Crear administrador</button>
  </form>
</div>

{% endblock %}
